@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'menu content tendencia';
}
.menuC {
  grid-area: menu;
  color: white;
  width: 300px;
  @apply flex flex-col justify-between items-center py-6;
}
.contentC {
  grid-area: content;
  width: auto;
  height: 100vh;
  @apply flex flex-col;
}
.tendenciaC {
  grid-area: tendencia;
  width: 380px;
  height: 100vh;
  @apply flex flex-col;
}
.btn-big {
  @apply w-[4rem] h-[4rem];
}
.overflow-main {
  width: auto;
  height: auto;
  display: block;
  overflow-y: scroll;
}
.input-search {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  position: absolute;
  outline: none;
}
.icon {
  position: relative;
  font-size: 20px;
  top: 10px;
  left: 57px;
}
.form-search {
  padding: 1rem;
  height: 100px;
  width: 100%;
}
.menu-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.mc-titles {
  @apply flex justify-center hover:bg-[#1a8cd8] py-[1rem] font-bold hover:text-white;
}
/* IMAGE NEWS - CONTENT*/

.content-overflow {
  display: block;
  overflow-y: scroll;
}

/* .mc-title {
  padding-bottom: 8px;
}
.mc-title:active {
  background-color: red;
  border-color: #1a8cd8;
} */
